@charset "utf-8";
/* CSS Document */

/* Overide of DCS style */
/*
.nsw-card:hover .nsw-card__content {
    background-color: var(--nsw-brand-supplementary) !important;
}
*/

.fade {
    opacity: 0.3;
}

.nsw-section.nsw-section--image {
    background-color: var( --nsw-brand-dark);
}

.nsw-section.nsw-section--image.datasets {
    background-image: url(https://cdn.aristotle.ninja/media/platypusstaging/uploads/2024/08/20/f9c53d68-5eb9-11ef-927c-0a58a9feac02.jpg);
}

.nsw-section.nsw-section--image.metrics {
    background-position-y: 40%;
    background-image: url(https://cdn.aristotle.ninja/media/platypusstaging/uploads/2024/10/03/120351ee-8147-11ef-9b3c-0a58a9feac02.jpg);
}

.nsw-section.nsw-section--image.metadata {
    background-image: url(https://cdn.aristotle.ninja/media/platypusstaging/uploads/2024/10/03/d452d968-8147-11ef-8e3a-0a58a9feac02.jpg);
}

.nsw-section.nsw-section--image.glossary {
    background-image: url(https://cdn.aristotle.ninja/media/platypusstaging/uploads/2024/08/19/fe88bd92-5de3-11ef-927c-0a58a9feac02.jpg);
}

ul.breadcrumb li:nth-child(2) {
    display: none;
}

.info-block {
    background-color: var(--nsw-status-info-bg); 
}

.light-block {
    background-color: var(--nsw-brand-light); 
}

.dark-block {
    background-color: var(--nsw-brand-dark); 
}
/*
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
*/
        
/* Tabs menu = START */
    
.tabs {
    position: relative;   
    min-height: 300px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}
.tab {
    float: left;
}
.tab label {
    font-size: 16px;
    color: var(--nsw-brand-dark);
    font-weight: 700;
    background: #ffffff; 
    padding: 12px 16px; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
    cursor: pointer;
}
    
.tab label:hover {
    background-color: var(--nsw-hover);
}
    
.tab [type=radio] {
    display: none;   
}
.content {
    position: absolute;
    top: 33px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 24px 16px;
    border-bottom: 1px solid var(--nsw-grey-04);
    border-top: 2px solid var(--nsw-grey-04);
}
[type=radio]:checked ~ label {
    background: white;
    border-bottom: 2px solid var(--nsw-brand-accent);
    z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

/* Tabs menu = END */
        
